<div class="content">
    <center>
        <div class="title"></div>
        <div class="content-box">
            <form action="#" method = "POST">
                <ul>
                    <li><input type = "text"></li>
                    <li id="buttons">
                        <input type="submit" value="Google Search">
                        <input type="submit" value="I'm Feeling Lucky">
                </ul>
            </form>
        </div>
    </center>
</div>