<!DOCTYPE html>
<html>
<head>
  <title>Google</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class = "navbar">
        <ul class = "nav">
            <div id = "nright-links">
            <li><a class="text-link" href="https://plus.google.com/u/0/?tab=wX">+Kevin</a></li>
            <li><a class="text-link" href="https://mail.google.com/mail/?tab=wm">Gmail</a></li>
            <li><a class="text-link" href="https://www.google.com/imghp?hl=en&tab=wi&ei=b7PuUp6xNavmsATb_4KIDg&ved=0CAQQqi4oAg">Images</a></li>
            <li id = "apps"><a class="nav-link" href="http://www.google.com/intl/en/options/">__</a></li>
            <li id = "notis"><a class="nav-link" href="https://plus.google.com/u/0/notifications/all?hl=en">__</a></li>
            <li id = "share"><a class="nav-link" href="https://plus.google.com/u/0/stream/all?hl=en">Share</a></li>
            <li id = "gplus"><a class="nav-link" href="https://plus.google.com/u/0/me?tab=wX">__</a></li>
            </div>
        </ul>
    </div>

<%= yield %>

    <div class = "footer">
        <ul class = "ft">
            <li><a class="foot-link" href="https://www.google.com/intl/en/ads/?fg=1">Advertising</a></li>
            <li><a class="foot-link" href="https://www.google.com/services/?fg=1">Business</a></li>
            <li><a class="foot-link" href="https://www.google.com/intl/en/about.html?fg=1">About</a></li>
            <div id="fright-links">
                <li><a class="foot-link" href="https://www.google.com/intl/en/policies/?fg=1">Privacy & Terms</a></li>
                <li><a class="foot-link" href="https://www.google.com/preferences?hl=en">Settings</a></li>
            </div>
        </ul>
    </div>

</body>
</html>
